{% extends 'all-insta/base.html' %} 

{% block content %}
<div class="container top" style="margin-left:25%;font-family: 'Germania One', cursive;">
    <div class="row">
        <div class="col-md-7">
            {% for img in images %}
            <div class="home-images" style="padding-top:10%">
                <div class="panel">
                    <div class="panel panel-heading">
                <p class="home-text">
                    <a href="{% url 'profile' username=img.profile.username %}">{{img.profile.username}}</a>
                </p>
                {% if profile_details.prof_pic %}
                <img src="{{img.profile_details.prof_pic.url}}" width="300" height="300" alt="profile-photo" style="border-radius:50%;">
                {% else %}
                    <img src="/static/img/avatah.png" alt="avatar">
                    {% endif %}
                </div>
                <img src="{{img.image.url}}" alt="Image" width="600" height="500">
                <ul class="list-inline home-text">
                    <li class="list-inline-item">
                        <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'single_image' image_id=img.id %}"><i class="fa fa-comment-o fa-2x" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <ul class="list-inline home-list">
                    <li class="list-inline-item">
                        <a href="{% url 'profile' username=img.profile.username %}">{{img.profile.username}}</a>
                    </li>
                  
                    <li class="list-inline-item">
                    {% autoescape on %}
                        <p>{{img.caption|safe}} </p>
                    {% endautoescape %}
                    </li>
                </ul>
            </div> 
            </div>
            {% empty %}
            <h2>No images. Follow some people to see their images</h2>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}